<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group form-group-lg">
    <%= f.text_area :introduction , :rows => 10, :class => "form-control" %>
  </div>
  <div class="form-group form-group-lg">
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <%= f.text_field :twitter_name , :class => "form-control" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit(:class => "btn btn-success btn-lg", :value => "Update" )%>
  </div>
<% end %>
