<div class="table-responsive">
    <% @users.each do |user| %>
    <div class="row">
      <div class="col-md-2" >
        <%= link_to( image_tag( user.image, :class => "img-circle", :size => "100x100" ), user) %><br>
        <%= user.name %>
      </div>
      <div class="col-md-10" >
        <%= link_to_if(user.twitter_name.present? , fa_icon("twitter 5x").html_safe, "https://twitter.com/#{user.twitter_name}") %>
        <%= link_to_if(user.github_url.present? , fa_icon("github 5x").html_safe, "#{user.github_url}") %>
        <%= link_to_if(user.facebook_name.present? , fa_icon("facebook 5x").html_safe, "https://www.facebook.com/#{user.facebook_name}") %>
        <br><pre><%= user.introduction %></pre>
      </div>
    </div>
    <% end %>
</div>
