<!-- <div class="table-responsive">
  <div class="container"> -->
    <div class="col-sm-6 col-md-4" >
      <%= image_tag( @user.image, :class => "img-circle", :size => "150x150") %><br>
      <%= @user.name.present? ? @user.name : @user.nickname %><br>
      <% if @user.location.present? %>
        <i class="fa fa-map-marker"><%= @user.location %></i><br>
      <% end %>
      <% if @user.blog.present? %>
        <h6><i class="fa fa-bookmark-o"><%= link_to @user.blog, @user.blog %></i></h6><br>
      <% end %>
      <%= link_to_if(@user.github_url.present? , fa_icon("github 5x").html_safe, "#{@user.github_url}") %>
      <%= link_to_if(@user.twitter_name.present? , fa_icon("twitter 5x").html_safe, "https://twitter.com/#{@user.twitter_name}") %>
      <%= link_to_if(@user.facebook_name.present? , fa_icon("facebook 5x").html_safe, "https://www.facebook.com/#{@user.facebook_name}") %>
      <h2><%= link_to "タグ一覧" , interests_path %></h2>
      <% @user.interests.each do |interest| %>
        <%#= link_to interest.content, interest.content_url, class: "btn btn-success btn" %>
        <table class="table">
          <%= link_to interest.content, interest.content_url %>
        </table>
      <% end %>
    </div>
    <div class="col-sm-6 col-md-8">
      <pre><%= @user.introduction %></pre>
    </div>
<!--  </div> /.container
</div> -->
