<!DOCTYPE html>
<html>
<head>
  <title>Kobe Rubyist Connect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
　<%= stylesheet_link_tag "cover" %>
</head>

<%= yield %>

<%# 通知／エラーメッセージ %>
<%= simple_format(flash[:notice], style: "color: green;") if flash[:notice].present? %>
<%= simple_format(flash[:alert], style: "color: red;") if flash[:alert].present? %>

<%#= yield %>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
